<%= form_for [@new_lesson.user, @new_lesson] do |f| %>
  <div>
    <%= f.error_messages my_error_opts %>
  </div>
  <div>
    <%= f.label :name, :class => :hidden %>
    <%= f.text_field :name, { :placeholder => "Name", :required => true } %>
    <%= f.submit %>
  </div>
<% end %>
