<% title @lesson.name -%>

<% content_for :header do -%>
  <h1><%= raw breadcrumb([@lesson.user.username, user_path(@lesson.user)], @lesson.name) %></h1>
<% end -%>

<% content_for :header_right do -%>
  <%= link_to "Test yourself", test_user_lesson_path(@lesson.user, @lesson), :class => 'button' if @lesson.user == current_user %>
<% end -%>

<%= render :partial => 'vocables/table', :locals => { :vocables => @lesson.saved_vocables } %>

<%= render 'vocables/form' if @lesson.user == current_user %>

<div class="actions">
  <%= link_to 'Delete lesson', user_lesson_path(@lesson), :confirm => "This lesson and all it's vocables will be deleted. Are you sure?", :method => :delete, :class => 'delete-button' if @lesson.user == current_user %>
</div>
