<% title @lesson.name -%>

<% content_for :header do -%>
  <h1><%= raw breadcrumb(["Lessons", lessons_path], @lesson.name) %></h1>
<% end -%>

<% content_for :header_right do -%>
  <%= link_to "Test yourself", test_lesson_path(@lesson), :class => 'button' %>
<% end -%>

<%= render :partial => 'vocables/table', :locals => { :vocables => @lesson.saved_vocables } %>

<%= render 'vocables/form' %>

<div class="actions">
  <%= link_to 'Delete lesson', @lesson, :confirm => "This lesson and all it's vocables will be deleted. Are you sure?", :method => :delete, :class => 'delete-button' %>
</div>
