<tr class="vocable" id="vocable_<%= vocable.id %>">
  <td><%= vocable.foreign %></td>
  <td><%= vocable.translation %></td>
  <td><%= link_to 'Delete', user_lesson_vocable_path(vocable.lesson.user, vocable.lesson, vocable), :method => :delete, :class => 'delete-link', :remote => true if vocable.lesson.user == current_user %></td>
  <td>
    <ol class="attempts">
      <% for attempt in vocable.attempts -%>
        <li class="attempt <%= attempt.success? ? "successful" : "unsuccessful" %>">
          <span class="hidden"><%= attempt.success? ? "Successful" : "Unsuccessful" %></span>
        </li>
      <% end -%>
    </ol>
  </td>
</tr>
