<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title><%= title %> &ndash; <%= app_name %></title>
<%= stylesheet_link_tag 'styles.css' %>
<%= csrf_meta_tag %>

<body>
<div id="wrapper">
  <% if content_for?(:top) -%>
    <div id="top">
      <%= yield :top %>
    </div>
  <% end -%>
  <div id="header">
    <% if content_for? :header -%>
      <%= yield :header %>
    <% else -%>
      <h1 class="<%= "full-width" unless content_for? :header_right %>">
        <%= title %>
      </h1>
    <% end -%>
    <% if content_for? :header_right %>
      <div id="header-right">
        <%= yield :header_right %>
      </div>
    <% end %>
  </div>
  <div id="content">
    <%= raw flash_content %>
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'jquery', 'rails', 'application' %>
